@keyframes disappearance {
    from { opacity: 1};
    to { opacity: 0};
} 

@keyframes appearance {
    from { opacity: 0};
    to { opacity: 1};
}

/** dealCardsAnimation */

@keyframes cardGoToOpponent {
    from {
        transform: translate(0, 0);
    };
    to {
        transform: translate(var(--opponent-card-left), var(--players-card-top));
    };
}

@keyframes cardGoToPlayer {
    from {
        transform: translate(0, 0);
    };
    to {
        transform: translate(var(--player-card-left), var(--players-card-top));
    };
}   

/** fightCardsAnimation */
@keyframes cardGoesOnTablePlayer {
    0% {
        background: url(../images/revers.png) no-repeat center/ cover;
    };
    50% {
        transform: rotateY(90deg);
        background: url(../images/revers.png) no-repeat center/ cover;
    }
    100% {};
}

@keyframes cardGoesOnTableOpponent {
    0% {
        background: url(../images/revers.png) no-repeat center/ cover;
    };
    50% {
        transform: rotateY(-90deg);
        background: url(../images/revers.png) no-repeat center/ cover;
    }
    100% {};
}

@keyframes cardGoesBackToPlayer {
    0% {};
    50% {transform: rotateY(-90deg);}
    100% {background: url(../images/revers.png) no-repeat center/ cover;}
}

@keyframes cardGoesBackToOpponent {
    0% {}
    50% {transform: rotateY(90deg);}
    100% {background: url(../images/revers.png) no-repeat center/ cover;}
}

@keyframes winsCardGoesToPlayer {
    0% {}
    25% {
        transform: rotateY(-90deg);
        background: url(../images/revers.png) no-repeat center/ cover;
    }
    50% {transform: rotateY(0deg);}
    100% {
        transform: translateX(calc(var(--opponent-card-on-table) - var(--player-card-on-table) - var(--card-width) * -1));
        background: url(../images/revers.png) no-repeat center/ cover;
    }
}

@keyframes winsCardGoesToOpponent {
    0% {}
    25% {
        transform: rotateY(90deg);
        background: url(../images/revers.png) no-repeat center/ cover;
    }
    50% {transform: rotateY(0deg);}
    100% {
        transform: translateX(calc(var(--player-card-on-table) + var(--player-card-on-table) + var(--card-width) * -1));
        background: url(../images/revers.png) no-repeat center/ cover;
    }
}

/** playOffAnimation */

@keyframes playOffPlayerPassiveCardOnTable {
    0% {}
    100% {
        transform: rotate(90deg);
        z-index: 3;
    }
}

@keyframes playOffOpponentPassiveCardOnTable {
    0% {}
    100% {
        transform: rotate(-90deg);
        z-index: 3;
    }
}

@keyframes playOffPlayerPassiveCardGoesBack {
    0% {}
    100% {
        transform: rotate(0deg);
        z-index: 3;
    }
}

@keyframes playOffOpponentPassiveCardGoesBack {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(-90deg);}
}

@keyframes playOffWinPassiveCardGoesToPlayer {
    0% {transform: rotate(90deg);}
    100% {transform: rotate(0deg);}
}

@keyframes playOffWinPassiveCardGoesToOpponent {
    0% {transform: rotate(-90deg);}
    100% {transform: rotate(0deg);}
}

@keyframes playOffWinActiveCardGoesToPlayer {
    0% {transform: rotateY(0deg);}
    100% {
        transform: rotateY(180deg);
        background: url(../images/revers.png) no-repeat center/ cover;
    }
}

@keyframes playOffWinActiveCardGoesToOpponent {
    0% {transform: rotateY(0deg);}
    100% { 
        transform: rotateY(180deg);
        background: url(../images/revers.png) no-repeat center/ cover;
    }
}

@keyframes playOffPlayerActiveCardGoesBack {
    0% {transform: rotateY(0deg);}
    100% {
        transform: rotateY(-180deg);
        background: url(../images/revers.png) no-repeat center/ cover;
    }
}

@keyframes playOffOpponentActiveCardGoesBack {
    0% {transform: rotateY(0deg);}
    100% {
        transform: rotateY(180deg);
        background: url(../images/revers.png) no-repeat center/ cover;
    }
}

/** NextplayOffAnimation */

@keyframes nextPlayOffplayerPassiveCardOnTable {
    0% {}
    100% {
        transform: rotate(90deg);
        z-index: 3;
    }
}

@keyframes nextPlayOffOpponentPassiveCardOnTable {
    0% {}
    100% {
        transform: rotate(-90deg);
        z-index: 3;
    }
}

@keyframes nextPlayOffPlayerPassiveCardGoesBack {
    0% {}
    100% {
        transform: rotate(90deg);
        z-index: 3;
    }
}

@keyframes nextPlayOffOpponentPassiveCardGoesBack {
    0% {}
    100% {
        transform: rotate(-90deg);
        z-index: 3;
    }
}

@keyframes nextPlayOffPlayerActiveCardGoesOnTable {
    0% {background: url(../images/revers.png) no-repeat center/ cover;};
    50% {transform: rotateY(90deg);}
    100% {};
}
@keyframes nextPlayOffOpponentActiveCardGoesOnTable {
    0% {
        background: url(../images/revers.png) no-repeat center/ cover;
        transform: rotateY(0deg);
    };
    50% {transform: rotateY(90deg);}
    100% {};
}

@keyframes nextPlayOffOpponentActiveCardGoesBackToPlayer {
    0% {transform: rotateY(0deg);};
    50% {transform: rotateY(-90deg);}
    100% {background: url(../images/revers.png) no-repeat center/ cover;}
}

@keyframes nextPlayOffOpponentActiveCardGoesBackToOpponent {
    0% {transform: rotateY(0deg);}
    50% {transform: rotateY(-90deg);}
    100% {background: url(../images/revers.png) no-repeat center/ cover;}
}

/** scoreAnimation */

@keyframes activeScoreSection {
    0% {background: transparent;}
    100% {background: #00000090;}
}

@keyframes scoreText {
    0% {
        opacity: .1;
        top: 100%;
        left: -50%;
        transform: scale(15);
    }
    100% {
        opacity: 1;
        top: 18%;
        left: 0%;
        transform: scale(1);
    }
}