/** fight*/

.animation-go-to-player {
    animation: cardGoToPlayer .5s ease-in;
}

.animation-go-to-opponent {
    animation: cardGoToOpponent .5s ease-in;
}

.animation-card-on-table-player {
    animation: cardGoesOnTablePlayer .4s linear;
}

.animation-card-on-table-opponent {
    animation: cardGoesOnTableOpponent .4s linear;
}

.animation-card-player-win {
    animation: cardGoesBackToPlayer .4s ease-in-out;
}

.animation-card-opponent-win {
    animation: cardGoesBackToOpponent .4s ease-in-out;
}

.animation-card-player-lose {
    animation: winsCardGoesToPlayer .6s ease-in-out;
}

.animation-card-opponent-lose {
    animation: winsCardGoesToOpponent .6s ease-in-out;
}

/** playOff*/

.animation-playOff-passive-card-on-table-player {
    animation: playOffPlayerPassiveCardOnTable .3s linear;
}
.animation-playOff-passive-card-on-table-opponent {
    animation: playOffOpponentPassiveCardOnTable .3s linear;
}
.animation-playOff-active-card-on-table-player {
    animation: cardGoesOnTablePlayer .4s linear;
}
.animation-playOff-active-card-on-table-opponent {
    animation: cardGoesOnTableOpponent .4s linear;
}
.animation-playOff-passive-card-goes-back-player {
    animation: playOffPlayerPassiveCardGoesBack .4s ease-in-out;
}
.animation-playOff-passive-card-goes-back-opponent {
    animation: playOffOpponentPassiveCardGoesBack .4s ease-in-out;
}
.animation-playOff-passive-card-goes-to-winer-player {
    animation: playOffWinPassiveCardGoesToPlayer .4s ease-in-out;
}
.animation-playOff-passive-card-goes-to-winer-opponent {
    animation: playOffWinPassiveCardGoesToOpponent .4s ease-in-out;
}
.animation-playOff-active-card-goes-back-player {
    animation: playOffPlayerActiveCardGoesBack .4s ease-in-out;
}
.animation-playOff-active-card-goes-back-opponent {
    animation: playOffOpponentActiveCardGoesBack .4s ease-in-out;
}
.animation-playOff-active-card-goes-to-winer-player {
    animation: playOffWinActiveCardGoesToPlayer .4s ease-in-out;
}
.animation-playOff-active-card-goes-to-winer-opponent {
    animation: playOffWinActiveCardGoesToOpponent .4s ease-in-out;
}

/** nextPlyOff*/

.animation-nextPlayOff-passive-card-on-table-player {
    animation: playOffPlayerPassiveCardOnTable .4s ease-in-out;
}
.animation-nextPlayOff-passive-card-on-table-opponent {
    animation: playOffOpponentPassiveCardOnTable .4s ease-in-out;
}
.animation-nextPlayOff-active-card-on-table-player {
    animation: nextPlayOffPlayerActiveCardGoesOnTable .4s ease-in-out;
}
.animation-nextPlayOff-active-card-on-table-opponent {
    animation: nextPlayOffOpponentActiveCardGoesOnTable .4s ease-in-out;
}
.animation-nextPlayOff-passive-card-goes-back-player {
    animation: playOffWinPassiveCardGoesToPlayer .4s ease-in-out;
}
.animation-nextPlayOff-passive-card-goes-back-opponent {
    animation: playOffWinPassiveCardGoesToOpponent .4s ease-in-out;
}
.animation-nextPlayOff-passive-card-goes-to-winer-player {
    animation: playOffWinPassiveCardGoesToPlayer .4s ease-in-out;
}
.animation-nextPlayOff-passive-card-goes-to-winer-opponent {
    animation: playOffWinPassiveCardGoesToOpponent .4s ease-in-out;
}
.animation-nextPlayOff-active-card-goes-back-player {
    animation: playOffPlayerActiveCardGoesBack .4s ease-in-out;
}
.animation-nextPlayOff-active-card-goes-back-opponent {
    animation: playOffOpponentActiveCardGoesBack .4s ease-in-out;
}
.animation-nextPlayOff-active-card-goes-to-winer-player {
    animation: playOffWinActiveCardGoesToPlayer .4s ease-in-out;
}
.animation-nextPlayOff-active-card-goes-to-winer-opponent {
    animation: playOffWinActiveCardGoesToOpponent .4s ease-in-out;
}