html {
    background-color: $primary-color;
}
body {
    width: calc(100vw - 40px);
    height: calc(100vh - 40px);
    min-height: 500px;
    padding: 20px 10px;
    margin: 20px;
    position: relative;
    background: url(../images/table.jpg) no-repeat center/ cover;
    border:  2px solid rgba(0, 0, 0, .5);
    box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 1);
    color: #000;
    transition: .3s;
}

button:focus {
    outline: none;
}