@mixin sectionSizes {
    width: 100%;
    height: calc(100% - 100px);
    position: relative;
} 

@mixin buttons {
    height: 120px;
    width: 120px;
    font-weight: bold;
    font-size: 22px;
    border-radius: 50%;
    border: 2px solid rgb(0, 73, 0);
    background-color: #4cf34c10;
    outline: none;
    transition: .4s;

    &:hover{
        background-color: #4cf34c40;
    }
}