$primary-color: rgb(0, 92, 0);


:root {
    --players-card-top: -160px;
    --opponent-card-left: -40vw;
    --player-card-left: 40vw;
    --opponent-card-on-table: -18vw;
    --player-card-on-table: 18vw;
    --play-again-button-top-position: 40vh;
    
    @media screen and (min-width:400px) {
        --players-card-top: -135px;
    }
    @media screen and (min-width:480px) {
        --opponent-card-on-table: -21vw;
        --player-card-on-table: 21vw;
    }
    @media screen and (min-width:581px) {
        --opponent-card-left: -45vw;
        --player-card-left: 45vw;
        --opponent-card-on-table: -23vw;
        --player-card-on-table: 23vw;
        --play-again-button-top-position: 50vh;
    }
    @media screen and (min-width:901px) {
        --opponent-card-on-table: -24vw;
        --player-card-on-table: 24vw;
        --play-again-button-top-position: 60vh;
    }
    @media screen and (min-width:1021px) {
        --opponent-card-on-table: -25vw;
        --player-card-on-table: 25vw;
        --play-again-button-top-position: 65vh;
    }
    @media screen and (min-width:1201px) {
        --opponent-card-on-table: -26vw;
        --player-card-on-table: 26vw;
    }
}