:root {
    --card-width: 50px;
    --card-height: 75px;
    
    @include tsMin {
        --card-width: 70px;
        --card-height: 105px;
    }
    
    @include smMin {
        --card-width: 100px;
        --card-height: 150px;
    }
}

.game-section {
    @include sectionSizes;
    display: none;
    animation: appearance .5s linear;

    &-fight-button {
        @include buttons;
        width: 100px;
        height: 100px;
        position: relative;
        top: -50px;
        display: none;
        margin: auto;
        font-size: 14px;
        z-index: 1;
        transition: .5s;
        
        @include tsMin {
            height: 80px;
            width: 80px;
            top: 0px;
            font-size: 18px;
        }

        &-visible {
            display: block;
            animation: appearance .5s linear;
        }
    }
}

.game-section-container {
    width: 100%;
    height: 60%;
    position: relative;
    display: flex;
    margin: auto;
    text-align: center;

    &-form {
        display: none;
    }
}

.game-section-all-cards-before-dealing,
.game-section-cards-active {
    height: var(--card-height);
    width: var(--card-width);
    position: relative;
    margin: auto;
}
.game-section-cards-container {
    width: 200px;
    height: 60%;
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    
    &-invisible {
        display: none;
    }
}

.game-section-card-before-dealing {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../../images/revers.png) no-repeat center/ cover;
    list-style: none;
    z-index: 2;
    transition: .4s;

    @for $i from 1 through 52 {
        &:nth-child(#{$i}){
            top: ($i * .1px);
            left: ($i * .1px);
        }
    }
}

.game-section-player-place,
.game-section-opponent-place {
    width: 50%;
    position: relative;
    padding-top: 40px;
    
    &-name {
        max-width: 150px;
        margin: 0 auto 20px;
        padding: 5px;
        font-size: 14px;
        font-weight: bold;
        text-transform: capitalize;
        border: 2px solid $primary-color;
        border-radius: 25px;
        background-color: #4cf34c20;

        @include tsMin {
            padding: 10px;
            font-size: 18px;
        }
        
        @include smMin {
            font-size: 24px;
        }
    }
}

.game-section-player-place {
    padding-right: 15%;
}

.game-section-opponent-place {
    padding-left: 15%;
}

.game-section-place-score {
    &-text {
        max-width: 150px;
        margin: 20px auto 0;
        padding: 5px;
        font-size: 18px;
        font-weight: bold;
        text-transform: capitalize;
    }

    &-value {
        max-width: 150px;
        margin: auto;
        padding: 5px;
        font-size: 14px;
        font-weight: bold;
    }
}

.background-play-off {
    background: url(../../images/moro.jpg) no-repeat center/ cover;
}

.player-card-on-table {
    left: var(--player-card-on-table) !important;
    transition: .4s;
}
.opponent-card-on-table {
    left: var(--opponent-card-on-table) !important;
    transition: .4s;
}

.playOff-passive-card-on-table-player {
    top: 10px !important;
    left: var(--player-card-on-table) !important;
    transform: rotate(90deg);
    z-index: 3;
}
.playOff-passive-card-on-table-opponent {
    top: 10px !important;
    left: var(--opponent-card-on-table) !important;
    transform: rotate(-90deg);
    z-index: 3;
}

.playOff-active-card-on-table-player {
    top: 25px !important;
    left: var(--player-card-on-table) !important;
    z-index: 4;
}
.playOff-active-card-on-table-opponent {
    top: 25px !important;
    left: var(--opponent-card-on-table) !important;
    z-index: 4;
}

.nextPlayOff-passive-card-on-table-player {
    top: 40px !important;
    left: var(--player-card-on-table) !important;
    transform: rotate(90deg);
    z-index: 5;
}

.nextPlayOff-passive-card-on-table-opponent {
    top: 40px !important;
    left: var(--opponent-card-on-table) !important;
    transform: rotate(-90deg);
    z-index: 5;
}
.nextPlayOff-active-card-on-table-player {
    top: 55px !important;
    left: var(--player-card-on-table) !important;
    z-index: 6;
}
.nextPlayOff-active-card-on-table-opponent {
    top: 55px !important;
    left: var(--opponent-card-on-table) !important;
    z-index: 6;
}