.logo {
    width: 241px;
    position: relative;
    display: flex;
    justify-content: space-around;
    margin: auto;

    @include tsMin {
        width: 320px;
    }
    
    @include smMin {
        width: 420px;
    }
    
    &-img {
        height: 50px;
        width: 60px;
        background: url(../../images/logo.png) center / cover;

        @include tsMin {
            height: 70px;
            width: 85px;
        }

        @include smMin {
            height: 100px;
            width: 120px;
        }
    }
    
    &-text {
        margin: 0 0 0 10px;
        line-height: 50px;
        font-weight: bold;
        font-size: 26px;
        font-family: 'Indie Flower', cursive;
        text-shadow: 2px 4px rgba(0, 0, 0, .4);
        cursor: pointer;

        @include tsMin {
            line-height: 70px;
            font-size: 32px;
        }
        
        @include smMin {
            line-height: 100px;
            font-size: 37px;
        }
    }
}