.score-section {
    width: calc(100vw - 40px);
    height: 101%;
    position: absolute;
    background: #00000090;
    top: -2px;
    left: -2px;
    text-align: center;
    overflow: hidden;
    display: none;
    z-index: 2;

    &-active {
        display: inline;
        animation: activeScoreSection 1s ease-out;
    }
    
    &-container {
        height: 100%;
        width: 100%;
        position: relative;
    }

    &-text {
        width: 100%;
        color: yellowgreen;
        position: absolute;
        top: 18%;
        left: 50%;
        transform: translateX(-50%);
        font-weight: 900;
        font-size: 20vw;
        text-shadow: 10px 10px 10px rgba(0, 0, 0, 1);
        animation: scoreText 2s ease-in-out;
    }
}