.starting-section {
    @include sectionSizes;
    font-size: 24px;

    &-animation {
        animation: disappearance .6s linear;
    }

    &-hide {
        display: none;
    }
    
    &-form {
        width: 200px;
        position: relative;
        top: 50vh;
        transform: translateY(-40vh);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;    
        text-align: center; 
        margin: auto;
    }

    &-name-label {
        font-weight: bold;
        color: #000;
    }

    &-name-error {
        width: 170px;
        font-size: 16px;
        color: #bb0000;
        background-color: rgba(110, 110, 110, 0.4);
        outline: none;
        border: none;
        opacity: 0;

        &-visibile {
            opacity: 1;
        }
    }

    &-name-input {
        width: 180px;
        padding: 0 8px;
        margin: 10px 0 0;
        outline: none;
        border: 1px solid grey;
        
        &-error {
            border: 1px solid red;
        }

        &-correct {
            border: 1px solid $primary-color;
        }
    }
}

.starting-section-to-play-button {
    @include buttons;
}